<footer class="site-footer">
  <div class="footer-content">
    <p>{{ 'FOOTER.MADE_WITH' | translate }}</p>
    <div class="footer-credits">
      <span>{{ 'FOOTER.BASED_ON' | translate }} <a href="https://www.youtube.com/live/-QwjguLdg3o?si=JsIUJS_aAXQ9TY34"
          target="_blank" rel="noopener">Historias Secretas</a> {{ 'FOOTER.BY' | translate }} <a
          href="https://x.com/PinoCalad" target="_blank" rel="noopener">@pinocalad</a> {{ 'FOOTER.AND' | translate }} <a
          href="https://x.com/SoyWallas" target="_blank" rel="noopener">@SoyWallas</a></span>
      <span class="separator">•</span>
      <span>{{ 'FOOTER.FONT' | translate }} <a href="https://www.instagram.com/julietaula/" target="_blank"
          rel="noopener">Montserrat</a> {{ 'FOOTER.BY' | translate }}
        Julieta Ulanovsky</span>
    </div>
  </div>
</footer>