<section class="hero">
  <div class="hero-text">
    <p class="eyebrow">Linea de tiempo</p>
    <h2>Presidentes, futbol y momentos que cambiaron Colombia.</h2>
    <p class="lead">

      Un recorrido visual que conecta los gobiernos de Colombia con episodios clave del fútbol nacional. Explora cada etapa y descubre cómo el deporte ha reflejado nuestra historia, basándose en el episodio <a href="https://www.youtube.com/watch?v=nYXC5UTlxLc" target="_blank">Historias secretas: los presidentes y el fútbol </a>  de Alejandro Pino Calad y Wallas.

    </p>
    <a class="cta" routerLink="/timeline">Explorar timeline</a>
  </div>
  <div class="hero-image">
    <img src="pwe.png" alt="Colombia" />
  </div>
</section>
